# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.db

# Virtual environment
.venv/
env/
.env/
ENV/
.myenv/
myenv
.ENV/

# Django stuff:
*.log
db.sqlite3
*.sqlite3
media/
staticfiles/
.DS_Store

# Migrations
*/migrations/*

# PyCharm
.idea/

# VSCode
.vscode/

# MySQL
*.sql

# Postgres
*.pgsql

# Environment variables
.env
~


# Windows
Thumbs.db
ehthumbs.db

*~