body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #008080; /* Светло-серый цвет */
    padding: 1em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    color: #007bff; /* Синий цвет текста */
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #0056b3;
}

h2 {
    color: #333;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#tokenResult {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

.content {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

#tokenResult {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
    word-wrap: break-word; /* Позволяет переносить длинные строки */
    white-space: pre-wrap; /* Сохраняет форматирование и обёртку строк */
    max-width: 100%; /* Установим максимальную ширину контейнера */
    overflow-x: auto; /* Добавим горизонтальную прокрутку, если текст слишком длинный */
    background-color: #f1f1f1; /* Добавим светлый фон для лучшей читаемости */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.city-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    width: 100%;
    box-sizing: border-box;
}

/* Карточка города */
.city-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: calc(25% - 20px); /* 4 карточки в ряд с учетом отступов */
    max-width: 300px; /* Ограничение максимальной ширины */
    min-width: 200px; /* Ограничение минимальной ширины */
    box-sizing: border-box;
    text-align: center;
}

/* Стили для контейнеров разных групп */
.user-cities {
    background-color: #e0f7fa;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.popular-cities {
    background-color: #f0f4c3;
    padding: 15px;
    border-radius: 8px;
}

.city-card h3 {
    margin: 0;
}

.city-card img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

/* Кнопка удаления */
.city-card button {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.city-card button:hover {
    background-color: #c82333;
}
