{% extends "base.html" %}

{% block title %}Generate JWT Token{% endblock %}

{% block content %}
<h2>Generate JWT Token</h2>
<button id="getTokenButton">Get JWT Token</button>

<p id="tokenResult"></p>

<script>
    const button = document.getElementById('getTokenButton');
    button.addEventListener('click', function() {
        fetch('/users/get-jwt-token/')
        .then(response => response.json())
        .then(data => {
            if (data.access) {
                document.getElementById('tokenResult').textContent = `Your token: ${data.access}`;
            } else {
                document.getElementById('tokenResult').textContent = 'Error generating token';
            }
        })
        .catch(error => {
            document.getElementById('tokenResult').textContent = 'Error: Unable to fetch the token.';
        });
    });
</script>
{% endblock %}
