{% extends "base.html" %}

{% block title %}Cities Weather{% endblock %}

{% block content %}
<h2>Weather in Cities</h2>

<!-- Форма поиска города -->
<form method="GET" action="{% url 'city_weather' %}">
    <input type="text" name="q" placeholder="Search city" value="{{ query }}">
    <button type="submit">Search</button>
</form>
    
    <!-- Форма добавления нового города -->
<h3>Add a New City</h3>
<form method="POST" action="{% url 'add_city' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Add City</button>
</form>

<!-- Группировка добавленных пользователем городов -->
<h3>My Cities</h3>
<div class="city-container user-cities">
    {% for weather in user_added_weather %}
        <div class="city-card">
            <h3>{{ weather.city }}</h3>
            {% if weather.temperature %}
                <p>Temperature: {{ weather.temperature }} °C</p>
                <p>Description: {{ weather.description }}</p>
                <img src="http://openweathermap.org/img/wn/{{ weather.icon }}@2x.png" alt="{{ weather.description }}">
            {% else %}
                <p>{{ weather.description }}</p>
            {% endif %}
            <!-- Кнопка удаления города, если он добавлен пользователем -->
            <form method="POST" action="{% url 'delete_city' weather.city_id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <!-- Кнопка подписки или редактирования подписки -->
            {% if weather.subscription_id %}
                <a href="{% url 'edit_subscription' weather.subscription_id %}" class="btn btn-secondary">Edit Subscription</a>
            {% else %}
                <form method="POST" action="{% url 'add_subscription_from_city' weather.city_id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            {% endif %}
        </div>
    {% endfor %}
</div>

<!-- Группировка предустановленных городов -->
<h3>Popular Cities</h3>
<div class="city-container popular-cities">
    {% for weather in popular_weather %}
        <div class="city-card">
            <h3>{{ weather.city }}</h3>
            {% if weather.temperature %}
                <p>Temperature: {{ weather.temperature }} °C</p>
                <p>Description: {{ weather.description }}</p>
                <img src="http://openweathermap.org/img/wn/{{ weather.icon }}@2x.png" alt="{{ weather.description }}">
            {% else %}
                <p>{{ weather.description }}</p>
            {% endif %}
            <!-- Кнопка подписки или редактирования подписки -->
            {% if weather.subscription_id %}
                <a href="{% url 'edit_subscription' weather.subscription_id %}" class="btn btn-secondary">Edit Subscription</a>
            {% else %}
                <form method="POST" action="{% url 'add_subscription_from_city' weather.city_id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}
